body{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
header{
    display: flex;
    text-orientation: upright;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
footer{
    display: flex;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}